body {
     background-image: url("fondo1.jpg");
     background-size: 300px;
     text-align: center;
     color:white;
 }
 div{
    margin: 5px;
 }
 button{
    
    font-size:10px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#638cb5;
    border:0px;
    width:80px;
    height:19px;
    border-radius: 10px;
 }

 textarea{
    border-radius: 10px; 
 }

 input{
    border-radius: 10px;
 }